.button {
    background: var(--background);
    color: var(--white);
    padding: .5rem .7rem;
    display: inline-block;
    margin: auto;
    text-decoration: none;
  }
  
  .button:hover {
    color: var(--colorPrimary);
  }

