.menu_bar {
  display: none;
}

@media screen and (max-width: 991px) {
  header nav {
    inline-size: 50%;
    block-size: 100vh;
    left: -100%;
    top: 5rem;
    margin: 0;
    position: fixed;
    background: rgba(0, 0, 0, 50%);
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  header nav ul li {
    display: block;
    float: none;
    text-align: start;
    padding-inline-start: 5rem;
  }

  .menu_bar {
    display: block;
  }

  .menu_bar .bt-menu {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
  }

  .bt-menu:hover{
      color: var(--colorPrimary);
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }
}
